Source: kudzu-kanotix
Section: utils
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: debhelper (>> 4.0.0), pciutils-dev, python2.3-dev, libnewt-dev, libpopt-dev, gettext, perl, dietlibc-dev
Standards-Version: 3.6.2

Package: kudzu-kanotix
Provides: kudzu, kudzu-knoppix
Architecture: any
Depends: ${shlibs:Depends}, hwdata-kanotix (<< 0.165), python2.4
Replaces: kudzu, kudzu-knoppix
Conflicts: kudzu, kudzu-knoppix
Description: The Red Hat Linux hardware probing tool
 This is a hardware probing tool run at system boot time to determine
 what hardware has been added or removed from the system.
 .
 http://rhlinux.redhat.com/kudzu/

Package: kudzu-kanotix-vesa
Provides: kudzu-vesa, kudzu-knoppix-vesa
Architecture: any
Depends: ${shlibs:Depends}, hwdata-kanotix (<< 0.165), python
Replaces: kudzu-vesa, kudzu-knoppix-vesa
Conflicts: kudzu-vesa, kudzu-knoppix-vesa
Description: Hardware detecting library
 This is the hardware autodetection & configuration tool, originally
 introduced in Red Hat Linux 6.1. It detects changes in the system's
 hardware configuration, and gives the option of configuring
 added or removed devices.
 .
 This package contains VBE/DDC stuff.

Package: kudzu-kanotix-dev
Provides: kudzu-dev, kudzu-knoppix-dev
Section: devel
Architecture: any
Depends: ${shlibs:Depends}, hwdata-kanotix (<< 0.165), kudzu
Replaces: kudzu-dev, kudzu-knoppix-dev
Conflicts: kudzu-dev, kudzu-knoppix-dev
Description: Hardware detecting library
 This is the hardware autodetection & configuration tool, originally
 introduced in Red Hat Linux 6.1. It detects changes in the system's
 hardware configuration, and gives the option of configuring
 added or removed devices.
 .
 This package contains the header files and the staticlibs.

