Source: kudzu-kanotix
Section: utils
Priority: optional
Maintainer: Stefan Lippers-Hollmann <s.l-h@gmx.de>
Build-Depends: cdbs, debhelper (>> 5.0.0), pciutils-dev, python, python2.4-dev, libpopt-dev, gettext, perl, dpatch
Standards-Version: 3.6.2

Package: kudzu-kanotix
Provides: kudzu
Architecture: any
Depends: ${shlibs:Depends}, hwdata, python2.4, python
Replaces: kudzu
Conflicts: kudzu
Description: The Red Hat Linux hardware probing tool
 This is a hardware probing tool run at system boot time to determine
 what hardware has been added or removed from the system.
 .
 http://rhlinux.redhat.com/kudzu/

Package: kudzu-kanotix-dev
Provides: kudzu-dev
Section: devel
Architecture: all
Depends: ${shlibs:Depends}, hwdata-kanotix, kudzu
Replaces: kudzu-dev
Conflicts: kudzu-dev
Description: Hardware detecting library
 This is the hardware autodetection & configuration tool, originally
 introduced in Red Hat Linux 6.1. It detects changes in the system's
 hardware configuration, and gives the option of configuring
 added or removed devices.
 .
 This package contains the header files and the staticlibs.

