#!/usr/bin/make -f

include /usr/share/cdbs/1/rules/buildcore.mk
include /usr/share/cdbs/1/rules/debhelper.mk
include /usr/share/cdbs/1/rules/dpatch.mk

build/kudzu-kanotix::
	$(MAKE) all kudzu
	$(MAKE) install-program	DESTDIR=$(CURDIR)/debian/tmp
	$(MAKE) install		DESTDIR=$(CURDIR)/debian/tmp
	test -L $(CURDIR)/debian/tmp/usr/sbin/kudzu && rm -f $(CURDIR)/debian/tmp/usr/sbin/kudzu || true
	chmod +x $(CURDIR)/fix-mouse-psaux

clean::
	$(MAKE) clean
	rm -f *.do
	rm -rf debian/tmp
	chmod -x $(CURDIR)/fix-mouse-psaux

